
.profile__button-avatar{
    position: absolute;
    background-image: url('../../../../image/VectorinfoButtonBig.svg');
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    width: 120px;
    outline: none;
    cursor: pointer;
    height: 120px;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}
.profile__button-avatar:hover{
    opacity: 1;
}
@media screen and (max-width: 979px){
    .profile__button-avatar{
        left: calc(50% - 60px);
    }
}