.profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 320px){
    .profile{
        flex-direction: column;
        width: 282px;
        margin-top: 39px;
    }
}
@media screen and (min-width: 650px){
    .profile{
        flex-direction: row;
        width: 581px;
        height: auto;
        margin-top: 37px;
    }
}
@media screen and (min-width: 980px){
    .profile{
        flex-direction: row;
        width: 880px;
    }
}
