.pop-up__input{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    outline: none;
    padding: 0px;
    padding-bottom: 13px;
}
@media screen and (min-width: 320px){
    .pop-up__input{
    width: 238px;
    }
}
@media screen and (min-width: 980px){
    .pop-up__input{
        width: 358px;
    }
}