.form__inputs{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 320px){
    .form__inputs{
        margin-top: 40px;
        width: 260px;
    }
}
@media screen and (min-width: 650px){
    .form__inputs{
        margin-top: 50px;
        width: 358px;
    }
}