.element__trashcan{
    width: 18px;
    height: 19px;
    top: 18px;
    right: 15px;
    background-size: 18px 19px;
    background-image: url(../../../image/rubish.svg);
    background-position: center;
    border: none;
    background-color: rgba(0, 0 , 0 , 0);
    background-repeat: no-repeat;
    cursor: pointer;
    outline: none;
    position: absolute;
}
.element__trashcan:hover{
    opacity: 0.6;
}